<footer class="{{ .Site.Params.background_color_class | default " bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="logo f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
      <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
      {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
      <ul class="{{ cond (eq $.Site.Language.LanguageDirection " rtl") "pr0 ml3" "pl0 mr3" }}">
        {{ range .Site.Menus.main }}
        <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection " rtl") "pl3" "pr3" }}">
          <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n " pageTitle" . }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>

<script>
  const burger = document.getElementById('burger');
  const customNav = document.getElementById('customNav');
  if (burger) {
    burger.addEventListener('click', function () {
      customNav.classList.toggle('open');
      burger.classList.toggle('open');
    });
  }

</script>